@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-smooth: auto;
  font-weight: 300;
  line-height: 1.5;
  color: #444;
}

body {
  padding-top: 50px;
}

:root {
  --border: #ef6817;
  --bgnav: #474444;
  --bg: #dee1e2;
  --bg1: #dee1e2;
  --bg2: #dee1e2;
  --bg3: #333;
  --bg4: #aab6aa;
  --bg5: #637c8c;
  --bg6: black;
  --bgtext: white;
  --sizeh1: 55px;
  --sizeh1-1: 45px;
  --sizeh2: 40px;
  --sizetext: 25px;
  --sizetextmini: 20px;
  --font-family3: "Caveat", cursive;
  --font-family4:"Raleway", sans-serif;
  --chadowcontent: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
}

.main-oneWrapper,
.main-orientationWrapper,
.main-whyWrapper,
.main-advantagesWrapper,
.main-schemeWrapper,
.main-pricesWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.main-one-block,
.main-orientation-block,
.main-why-block,
.main-advantages-block,
.main-scheme-block,
.main-prices-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Code Pro", monospace;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  font-size: 60px;
  margin: 5px 0;
  color: var(--bg);
}

@media (max-width: 913px) {
  h2 {
    font-size: 30px;
  }
}
/*p {
  margin: 200px 0;
}*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  background-color: var(--bg3);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9998;
}

.logo {
  position: relative;
  display: block;
  color: var(--bg);
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.logo i {
  margin-right: 10px;
  color: var(--bg3);
}

.nav-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.navigation {
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  /*background-color: rgba(245, 245, 245, 0.95);*/
  background-color: var(--bg3);
  border: 3px solid var(--bg);
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
  z-index: 9998;
}

.navigation.is-open {
  left: 0;
}

.navigation ul {
  position: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation ul li {
  position: relative;
  /*height: 25vh;*/
  border-bottom: 1px solid rgba(68, 68, 68, 0.1);
}

.navigation a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 20px;
  color: var(--bg);
  font-family: "Source Code Pro", monospace;
  font-size: 32px;
  text-decoration: none;
}

.navigation a:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--bg);
  -webkit-transition: 0.25s;
  transition: 0.25s;
  z-index: -1;
}

.navigation a:hover {
  color: var(--bg3);
}

.navigation a:hover:before {
  width: 100%;
}

.hamburger {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  z-index: 9999;
}

.hamburger.is-open span {
  background-color: var(--bg);
  -webkit-transition: 0.25s -webkit-transform linear;
  transition: 0.25s -webkit-transform linear;
  transition: 0.25s transform linear;
  transition: 0.25s transform linear, 0.25s -webkit-transform linear;
}

.hamburger.is-open span:first-child {
  -webkit-transform: translateY(2px) rotate(45deg);
          transform: translateY(2px) rotate(45deg);
  -webkit-animation: hamburger3 0.25s linear;
          animation: hamburger3 0.25s linear;
}

@-webkit-keyframes hamburger3 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(2px) rotate(45deg);
            transform: translateY(2px) rotate(45deg);
  }
}

@keyframes hamburger3 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(2px) rotate(45deg);
            transform: translateY(2px) rotate(45deg);
  }
}
.hamburger.is-open span:nth-child(2) {
  width: 0;
}

.hamburger.is-open span:last-child {
  -webkit-transform: translateY(-2px) rotate(-45deg);
          transform: translateY(-2px) rotate(-45deg);
  -webkit-animation: hamburger4 0.25s linear;
          animation: hamburger4 0.25s linear;
}

@-webkit-keyframes hamburger4 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-2px) rotate(-45deg);
            transform: translateY(-2px) rotate(-45deg);
  }
}

@keyframes hamburger4 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-2px) rotate(-45deg);
            transform: translateY(-2px) rotate(-45deg);
  }
}
.hamburger span {
  position: relative;
  display: block;
  width: 30px;
  height: 2px;
  background-color: var(--bg);
  border-radius: 10px;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: 0.25s -webkit-transform linear;
  transition: 0.25s -webkit-transform linear;
  transition: 0.25s transform linear;
  transition: 0.25s transform linear, 0.25s -webkit-transform linear;
}

.hamburger span:first-child {
  -webkit-transform: translateY(-5px) rotate(0deg);
          transform: translateY(-5px) rotate(0deg);
  -webkit-animation: hamburger1 0.25s linear;
          animation: hamburger1 0.25s linear;
}

@-webkit-keyframes hamburger1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-5px) rotate(0deg);
            transform: translateY(-5px) rotate(0deg);
  }
}

@keyframes hamburger1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-5px) rotate(0deg);
            transform: translateY(-5px) rotate(0deg);
  }
}
.hamburger span:last-child {
  -webkit-transform: translateY(5px) rotate(0deg);
          transform: translateY(5px) rotate(0deg);
  -webkit-animation: hamburger2 0.25s linear;
          animation: hamburger2 0.25s linear;
}

@-webkit-keyframes hamburger2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(5px) rotate(0deg);
            transform: translateY(5px) rotate(0deg);
  }
}

@keyframes hamburger2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(5px) rotate(0deg);
            transform: translateY(5px) rotate(0deg);
  }
}
section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

section:nth-of-type(1) {
  background-color: var(--bg3);
  /*background-image: url("../img/bg/bg6.png");*/
  -webkit-animation: backgrounder 30s linear infinite;
          animation: backgrounder 30s linear infinite;
}

section:nth-of-type(2) {
  background-color: var(--bg3);
  /*background-image: url("../img/bg/bg6.png");*/
  -webkit-animation: backgrounder 30s linear infinite;
          animation: backgrounder 30s linear infinite;
}

section:nth-of-type(3) {
  background-color: var(--bg3);
  /*background-image: url("../img/bg/bg6.png");*/
  -webkit-animation: backgrounder 30s linear infinite;
          animation: backgrounder 30s linear infinite;
}

section:nth-of-type(4) {
  background-color: var(--bg3);
  /*background-image: url("../img/bg/bg6.png");*/
  -webkit-animation: backgrounder 30s linear infinite;
          animation: backgrounder 30s linear infinite;
}

section:nth-of-type(5) {
  background-color: var(--bg3);
  /*background-image: url("../img/bg/bg6.png");*/
  -webkit-animation: backgrounder 30s linear infinite;
          animation: backgrounder 30s linear infinite;
}

section .section-heading {
  position: sticky;
  top: 60px;
  width: 100%;
  /*background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  background-color: whitesmoke;*/
  background-color: rgba(51, 51, 51, 0.1019607843);
  z-index: 9996;
}

footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 200px 0;
  background-color: #333;
  color: white;
}

.grid-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0;
}

@media (min-width: 48rem) {
  .grid-container {
    padding: 0 20px;
  }
}
.grid-container.full {
  max-width: 100%;
  padding: 0 10px;
}

@media (min-width: 48rem) {
  .grid-container.full {
    padding: 0 20px;
  }
}
.grid-container .grid-x {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

@media (min-width: 48rem) {
  .grid-container .grid-x {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.grid-container .grid-x.align-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.grid-container .grid-x.align-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.grid-container .grid-x.align-justify {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grid-container .grid-x.align-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.grid-container .grid-x.align-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.grid-container .grid-x.align-middle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-container .grid-x.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-container .grid-x.grid-margin-x .cell {
  margin-left: 10px;
  margin-right: 10px;
}

.grid-container .grid-x.grid-padding-x .cell {
  padding-left: 0px;
  padding-right: 0px;
}

.grid-container .grid-x.grid-margin-y .cell {
  margin-top: 10px;
  margin-bottom: 10px;
}

.grid-container .grid-x.grid-padding-y .cell {
  padding-top: 10px;
  padding-bottom: 10px;
}

.cell {
  display: block;
  width: 100%;
}

@media (min-width: 20rem) {
  .cell.small-1 {
    width: 8.3333%;
  }
}
@media (min-width: 20rem) {
  .cell.small-2 {
    width: 16.6666%;
  }
}
@media (min-width: 20rem) {
  .cell.small-3 {
    width: 25%;
  }
}
@media (min-width: 20rem) {
  .cell.small-4 {
    width: 33.3333%;
  }
}
@media (min-width: 20rem) {
  .cell.small-5 {
    width: 41.6666%;
  }
}
@media (min-width: 20rem) {
  .cell.small-6 {
    width: 50%;
  }
}
@media (min-width: 20rem) {
  .cell.small-7 {
    width: 58.3333%;
  }
}
@media (min-width: 20rem) {
  .cell.small-8 {
    width: 66.6666%;
  }
}
@media (min-width: 20rem) {
  .cell.small-9 {
    width: 75%;
  }
}
@media (min-width: 20rem) {
  .cell.small-10 {
    width: 83.3333%;
  }
}
@media (min-width: 20rem) {
  .cell.small-11 {
    width: 91.666612%;
  }
}
@media (min-width: 48rem) {
  .cell.medium-1 {
    width: 8.3333%;
  }
}
@media (min-width: 48rem) {
  .cell.medium-2 {
    width: 16.6666%;
  }
}
@media (min-width: 48rem) {
  .cell.medium-3 {
    width: 25%;
  }
}
@media (min-width: 48rem) {
  .cell.medium-4 {
    width: 33.3333%;
  }
}
@media (min-width: 48rem) {
  .cell.medium-5 {
    width: 41.6666%;
  }
}
@media (min-width: 48rem) {
  .cell.medium-6 {
    width: 50%;
  }
}
@media (min-width: 48rem) {
  .cell.medium-7 {
    width: 58.3333%;
  }
}
@media (min-width: 48rem) {
  .cell.medium-8 {
    width: 66.6666%;
  }
}
@media (min-width: 48rem) {
  .cell.medium-9 {
    width: 75%;
  }
}
@media (min-width: 48rem) {
  .cell.medium-10 {
    width: 83.3333%;
  }
}
@media (min-width: 48rem) {
  .cell.medium-11 {
    width: 91.666612%;
  }
}
@media (min-width: 64rem) {
  .cell.large-1 {
    width: 8.3333%;
  }
}
@media (min-width: 64rem) {
  .cell.large-2 {
    width: 16.6666%;
  }
}
@media (min-width: 64rem) {
  .cell.large-3 {
    width: 25%;
  }
}
@media (min-width: 64rem) {
  .cell.large-4 {
    width: 33.3333%;
  }
}
@media (min-width: 64rem) {
  .cell.large-5 {
    width: 41.6666%;
  }
}
@media (min-width: 64rem) {
  .cell.large-6 {
    width: 50%;
  }
}
@media (min-width: 64rem) {
  .cell.large-7 {
    width: 58.3333%;
  }
}
@media (min-width: 64rem) {
  .cell.large-8 {
    width: 66.6666%;
  }
}
@media (min-width: 64rem) {
  .cell.large-9 {
    width: 75%;
  }
}
@media (min-width: 64rem) {
  .cell.large-10 {
    width: 83.3333%;
  }
}
@media (min-width: 64rem) {
  .cell.large-11 {
    width: 91.666612%;
  }
}
.cell.align-self-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cell.align-self-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.top-bar .grid-x {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.main-oneWrapper {
  /*border: 3px solid red;*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
  background-color: var(--bg3);
  /*background-image: url("../img/bg/bg6.png");*/
}

.main-one-block {
  /*border: 3px solid #0ddc25;*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
  margin: 0;
}

@media (max-width: 913px) {
  .main-oneWrapper {
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  .main-one-block {
    padding: 0;
    margin: 0;
  }
}
.main-orientationWrapper {
  /*border: 3px solid red;*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
  margin: 0;
}

.main-orientation-block {
  /*border: 3px solid #0ddc25;*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
  margin: 100px 0 0 0;
  gap: 50px;
}

.main-orientation-block__h2 {
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, rgba(57, 95, 201, 0.71)), color-stop(30%, rgba(201, 57, 177, 0.71)), color-stop(70%, rgba(201, 57, 177, 0.71)), color-stop(80%, rgba(57, 95, 201, 0.71)));
  background: linear-gradient(to right, rgba(57, 95, 201, 0.71) 20%, rgba(201, 57, 177, 0.71) 30%, rgba(201, 57, 177, 0.71) 70%, rgba(57, 95, 201, 0.71) 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  -webkit-animation: orientation 5s ease-in-out infinite alternate;
          animation: orientation 5s ease-in-out infinite alternate;
}

@-webkit-keyframes orientation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes orientation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.orientation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 85%;
  padding: 5px;
  margin: 0;
  gap: 20px;
  color: var(--bgtext);
  /*border: 3px solid #06d7ef;*/
}

.orientation-1 {
  min-width: 100px;
  /*border: 3px solid #06d7ef;
  display: none;*/
}

.orientation__h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--font-family1);
  /*border: 3px solid #0d3eed;*/
  height: 100%;
  width: 80%;
  font-size: var(--sizeh2);
  color: var(--bg);
  padding: 15px;
  margin: 15px 0 0 0;
  /*background-color: var(--bg);*/
  background-color: transparent;
  border: 12px solid var(--bg3);
  border-radius: 0 70px;
  -webkit-box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
          box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35); /**/
}

.h2block2,
.h2block4 {
  border-radius: 70px 0;
}

.orientation-spanblock1 {
  color: rgba(57, 95, 201, 0.71);
  /*color: #fff;
  text-shadow:
  -0.2rem -0.2rem 1rem #fff,
  0.2rem 0.2rem 1rem #fff,
    0 0 2rem rgba(57, 95, 201, 0.71),
    0 0 4rem rgba(57, 95, 201, 0.71),
    0 0 6rem rgba(57, 95, 201, 0.71),
    0 0 8rem rgba(57, 95, 201, 0.71),
    0 0 10rem rgba(57, 95, 201, 0.71); */
}

.orientation-spanblock2 {
  color: rgba(201, 57, 177, 0.71);
  /*color: #fff;
  text-shadow:
  -0.2rem -0.2rem 1rem #fff,
  0.2rem 0.2rem 1rem #fff,
    0 0 2rem rgba(201, 57, 177, 0.71),
    0 0 4rem rgba(201, 57, 177, 0.71),
    0 0 6rem rgba(201, 57, 177, 0.71),
    0 0 8rem rgba(201, 57, 177, 0.71),
    0 0 10rem rgba(201, 57, 177, 0.71); */
}

.orientation-spanblock3 {
  color: rgba(231, 199, 15, 0.71);
  /*color: #fff;
  text-shadow:
  -0.2rem -0.2rem 1rem #fff,
  0.2rem 0.2rem 1rem #fff,
    0 0 2rem rgba(201, 179, 57, 0.71),
    0 0 4rem rgba(201, 179, 57, 0.71),
    0 0 6rem rgba(201, 179, 57, 0.71),
    0 0 8rem rgba(201, 179, 57, 0.71),
    0 0 10rem rgba(201, 179, 57, 0.71); */
}

.orientation-spanblock4 {
  color: rgba(43, 209, 65, 0.71);
  /*color: #fff;
  text-shadow:
  -0.2rem -0.2rem 1rem #fff,
  0.2rem 0.2rem 1rem #fff,
    0 0 2rem rgba(115, 201, 57, 0.71),
    0 0 4rem rgba(115, 201, 57, 0.71),
    0 0 6rem rgba(115, 201, 57, 0.71),
    0 0 8rem rgba(115, 201, 57, 0.71),
    0 0 10rem rgba(115, 201, 57, 0.71); */
}

.orientation__block1,
.orientation__block2,
.orientation__block3,
.orientation__block4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 100%;
  padding: 5px;
  margin: 15px 0 0 0;
  gap: 25px;
  /*border: 3px solid #0ded32;*/
}

.orientation__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*border: 3px solid #e206f2;*/
  /*background-color: var(--bg);*/
  border-radius: 20px;
  width: 25%;
  padding: 15px;
  margin: 30px;
}

.orientation__img img {
  max-width: 100%;
}

.block1 {
  -webkit-box-shadow: 0px 0px 100px -11px rgba(57, 95, 201, 0.71), 4px 4px 100px 100px rgba(255, 255, 255, 0.13);
          box-shadow: 0px 0px 100px -11px rgba(57, 95, 201, 0.71), 4px 4px 100px 100px rgba(255, 255, 255, 0.13);
}

.block2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-shadow: 0px 0px 100px -11px rgba(201, 57, 177, 0.71), 4px 4px 100px 100px rgba(255, 255, 255, 0.13);
          box-shadow: 0px 0px 100px -11px rgba(201, 57, 177, 0.71), 4px 4px 100px 100px rgba(255, 255, 255, 0.13);
}

.block3 {
  -webkit-box-shadow: 0px 0px 100px -11px rgba(201, 179, 57, 0.71), 4px 4px 100px 100px rgba(255, 255, 255, 0.13);
          box-shadow: 0px 0px 100px -11px rgba(201, 179, 57, 0.71), 4px 4px 100px 100px rgba(255, 255, 255, 0.13);
}

.block4 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-shadow: 0px 0px 100px -11px rgba(115, 201, 57, 0.71), 4px 4px 100px 100px rgba(255, 255, 255, 0.13);
          box-shadow: 0px 0px 100px -11px rgba(115, 201, 57, 0.71), 4px 4px 100px 100px rgba(255, 255, 255, 0.13);
}

.orientation__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: var(--font-family2);
  color: var(--bg);
  font-size: var(--sizetext);
  /*border: 3px solid #dc0f68;*/
  background-color: transparent;
  /*border-radius: 20px;
  border: 4px solid var(--bg5);
  box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 5px 5px 15px rgba(0,0,0,0.35),inset -5px -5px 15px rgba(255,255,255,0.1), inset 5px 5px 15px rgba(0,0,0,0.35);*/
  width: 60%;
  padding: 5px;
  margin: 0;
}

.orientation-border {
  list-style: none;
  padding: 0;
}

.orientation-border li {
  /*background-color: var(--bg);*/
  font-family: "Trebuchet MS", "Lucida Sans";
  padding: 20px 30px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: var(--bg3);
  border: 4px solid var(--bg3);
  border-radius: 10px;
  -webkit-box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
          box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35); /**/
  font-size: 20px;
  letter-spacing: 1px;
  text-align: left;
}

.orientation-last {
  padding: 5px;
  margin: 0 0 100px 0;
}

@media (max-width: 913px) {
  .main-orientationWrapper {
    overflow: hidden;
    height: 100%;
    max-width: 100%;
    padding: 5px;
    margin: 0;
  }
  .main-orientation-block {
    padding: 5px;
    margin: 60px 0 0 0;
  }
  .main-orientation-block h2 {
    font-size: 45px;
  }
  .orientation {
    height: 100%;
    width: 100%;
    padding: 5px;
    margin: 0;
  }
  .orientation-1 {
    display: none;
  }
  .orientation__h2 {
    text-align: center;
    font-size: 40px;
    width: 100%;
    max-width: 360px;
    padding: 5px;
    margin: 30px 0;
    color: var(--bg);
    background-color: transparent;
    border: 12px solid var(--bg3);
    border-radius: 0 70px;
    -webkit-box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
            box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35); /**/
  }
  .orientation-spanblock1 {
    padding: 0 40px;
  }
  .orientation__block1,
.orientation__block2,
.orientation__block3,
.orientation__block4 {
    padding: 0;
    margin: 0;
    gap: 0;
  }
  .orientation__img {
    width: 70%;
    padding: 5px;
    margin: 15px;
  }
  .orientation__img img {
    max-width: 100%;
  }
  .block2,
.block4 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .block2-1,
.block4-1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .block1 {
    -webkit-box-shadow: 0px 0px 100px -11px rgba(57, 95, 201, 0.71), 4px 4px 50px 50px rgba(255, 255, 255, 0.13);
            box-shadow: 0px 0px 100px -11px rgba(57, 95, 201, 0.71), 4px 4px 50px 50px rgba(255, 255, 255, 0.13);
  }
  .block2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-shadow: 0px 0px 100px -11px rgba(201, 57, 177, 0.71), 4px 4px 50px 50px rgba(255, 255, 255, 0.13);
            box-shadow: 0px 0px 100px -11px rgba(201, 57, 177, 0.71), 4px 4px 50px 50px rgba(255, 255, 255, 0.13);
  }
  .block3 {
    -webkit-box-shadow: 0px 0px 100px -11px rgba(201, 179, 57, 0.71), 4px 4px 50px 50px rgba(255, 255, 255, 0.13);
            box-shadow: 0px 0px 100px -11px rgba(201, 179, 57, 0.71), 4px 4px 50px 50px rgba(255, 255, 255, 0.13);
  }
  .block4 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-shadow: 0px 0px 100px -11px rgba(115, 201, 57, 0.71), 4px 4px 50px 50px rgba(255, 255, 255, 0.13);
            box-shadow: 0px 0px 100px -11px rgba(115, 201, 57, 0.71), 4px 4px 50px 50px rgba(255, 255, 255, 0.13);
  }
  .orientation__text {
    background-color: transparent;
    width: 100%;
    padding: 5px;
    margin: 0;
  }
  .border {
    list-style: none;
    padding: 0;
  }
  .border li {
    background-color: var(--bg);
    font-family: "Trebuchet MS", "Lucida Sans";
    padding: 7px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 4px solid var(--bg5);
    -webkit-box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
            box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35); /**/
    font-size: 20px;
    letter-spacing: 1px;
    text-align: left;
  }
}
.main-whyWrapper {
  /*border: 3px solid red;*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
  margin: 0;
}

.main-why-block {
  /*border: 3px solid #0ddc25;*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
  margin: 100px 0 0 0;
}

.main-why-block__h2 {
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, rgba(57, 95, 201, 0.71)), color-stop(30%, rgba(201, 57, 177, 0.71)), color-stop(70%, rgba(201, 57, 177, 0.71)), color-stop(80%, rgba(57, 95, 201, 0.71)));
  background: linear-gradient(to right, rgba(57, 95, 201, 0.71) 20%, rgba(201, 57, 177, 0.71) 30%, rgba(201, 57, 177, 0.71) 70%, rgba(57, 95, 201, 0.71) 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  -webkit-animation: why 5s ease-in-out infinite alternate;
          animation: why 5s ease-in-out infinite alternate;
}

@-webkit-keyframes why {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes why {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 70%;
  padding: 5px;
  margin: 100px 0 0 0;
  /*border: 3px solid #06d7ef;*/
}

.why__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 5px;
  margin: 25px 0 0 0;
  background-color: transparent;
  /*border: 3px solid #1310e1;*/
}

.why__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  /*border: 3px solid #cf2323;*/
}

.why__img img {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.why-border {
  list-style: none;
  padding: 0;
}

.why-border li {
  /*color: var(--bg3);
  background-color: var(--bg);*/
  font-family: "Trebuchet MS", "Lucida Sans";
  padding: 20px 30px;
  margin-bottom: 10px;
  color: var(--bg);
  background-color: transparent;
  border: 4px solid var(--bg3);
  border-radius: 10px;
  -webkit-box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
          box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35); /**/
  font-size: 20px;
  letter-spacing: 1px;
  text-align: left;
}

.why__text2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 30%;
  text-align: center;
  padding: 5px;
  margin: 0;
  /*border: 3px solid #f17d0a;*/
  gap: 10px;
}

.why__text2-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 170px;
  width: 90%;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans";
  padding: 7px 30px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  text-align: left;
  /*border: 3px solid #db11bd;
  background-color: var(--bg);*/
  color: var(--bg);
  background-color: transparent;
  border: 4px solid var(--bg3);
  border-radius: 10px;
  -webkit-box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
          box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35); /**/
}

.why__text2 span {
  font-family: "Trebuchet MS", "Lucida Sans";
  font-size: 30px;
  color: rgba(201, 57, 177, 0.71);
}

@media (max-width: 913px) {
  .main-whyWrapper {
    overflow: hidden;
    height: 100%;
    max-width: 100%;
    padding: 5px;
    margin: 0;
  }
  .main-why-block {
    padding: 0;
    margin: 60px 0 0 0;
  }
  .main-why-block h2 {
    font-size: 45px;
    margin: 0 0 60px 0;
  }
  .why__text2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .why {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .why__text2 {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    gap: 10px;
  }
  .why {
    height: 100%;
    width: 100%;
    padding: 5px;
    margin: 0;
  }
}
.main-advantagesWrapper {
  /*border: 3px solid red;*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
  margin: 0;
}

.main-advantages-block {
  /*border: 3px solid #0ddc25;*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
  margin: 100px 0 0 0;
  gap: 15px;
}

.main-advantages-block h2 {
  width: 100%;
  margin: 0 0 50px 0;
}

.main-advantages-block__h2 {
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, rgba(57, 95, 201, 0.71)), color-stop(30%, rgba(201, 57, 177, 0.71)), color-stop(70%, rgba(201, 57, 177, 0.71)), color-stop(80%, rgba(57, 95, 201, 0.71)));
  background: linear-gradient(to right, rgba(57, 95, 201, 0.71) 20%, rgba(201, 57, 177, 0.71) 30%, rgba(201, 57, 177, 0.71) 70%, rgba(57, 95, 201, 0.71) 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  -webkit-animation: advantages 5s ease-in-out infinite alternate;
          animation: advantages 5s ease-in-out infinite alternate;
}

@-webkit-keyframes advantages {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes advantages {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 24%;
  padding: 5px;
  margin: 0;
  color: var(--bgtext);
  /*border: 3px solid #06d7ef;*/
  gap: 15px;
}

.advantages__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70%;
  width: 70%;
  border-radius: 20px;
  border: 6px solid var(--bg3);
  padding: 5px;
  margin: 0;
}

.advantages__img img {
  max-width: 100%;
}

.shadowClock {
  -webkit-box-shadow: 0px 0px 100px -11px rgba(201, 175, 57, 0.71);
          box-shadow: 0px 0px 100px -11px rgba(201, 175, 57, 0.71);
}

.shadowMap {
  -webkit-box-shadow: 0px 0px 100px -11px rgba(57, 201, 117, 0.71);
          box-shadow: 0px 0px 100px -11px rgba(57, 201, 117, 0.71);
}

.shadowDesign {
  -webkit-box-shadow: 0px 0px 100px -11px rgba(57, 103, 201, 0.71);
          box-shadow: 0px 0px 100px -11px rgba(57, 103, 201, 0.71);
}

.shadowFoto {
  -webkit-box-shadow: 0px 0px 100px -11px rgba(201, 57, 88, 0.71);
          box-shadow: 0px 0px 100px -11px rgba(201, 57, 88, 0.71);
}

.advantages__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 150px;
  /*color: var(--bg3);
  background-color: var(--bg);*/
  font-family: "Trebuchet MS", "Lucida Sans";
  padding: 20px 30px;
  margin: 30px 10px 30px 10px;
  color: var(--bg);
  background-color: transparent;
  border: 4px solid var(--bg3);
  border-radius: 10px;
  -webkit-box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
          box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35); /**/
  font-size: 20px;
  letter-spacing: 1px;
}

@media (max-width: 913px) {
  .main-advantagesWrapper {
    overflow: hidden;
    height: 100%;
    max-width: 100%;
    padding: 5px;
    margin: 0;
  }
  .main-advantages-block {
    padding: 0;
    margin: 60px 0 0 0;
  }
  .main-advantages-block h2 {
    font-size: 45px;
  }
  .advantages {
    width: 95%;
    gap: 0px;
    background-color: transparent;
    border: 4px solid var(--bg3);
    border-radius: 10px;
    -webkit-box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
            box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35); /**/
  }
  .advantages__img {
    height: 55%;
    width: 55%;
    padding: 5px;
    margin: 30px 0 0 0;
  }
  .shadowClock {
    -webkit-box-shadow: 0px 0px 70px -11px rgba(201, 175, 57, 0.71);
            box-shadow: 0px 0px 70px -11px rgba(201, 175, 57, 0.71);
  }
  .shadowMap {
    -webkit-box-shadow: 0px 0px 70px -11px rgba(57, 201, 117, 0.71);
            box-shadow: 0px 0px 70px -11px rgba(57, 201, 117, 0.71);
  }
  .shadowDesign {
    -webkit-box-shadow: 0px 0px 70px -11px rgba(57, 103, 201, 0.71);
            box-shadow: 0px 0px 70px -11px rgba(57, 103, 201, 0.71);
  }
  .shadowFoto {
    -webkit-box-shadow: 0px 0px 70px -11px rgba(201, 57, 88, 0.71);
            box-shadow: 0px 0px 70px -11px rgba(201, 57, 88, 0.71);
  }
  .advantages__text {
    width: 90%;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0px 20px 0px 20px;
    margin: 0px 10px 0px 10px;
    font-size: 25px;
    text-align: center;
  }
}
.main-schemeWrapper {
  border: 3px solid red;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
}

.main-scheme-block {
  border: 3px solid #0ddc25;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
  margin: 80px 0 0 0;
}

.scheme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 60%;
  padding: 5px;
  margin: 0;
  color: var(--bgtext);
  border: 3px solid #06d7ef;
  /*background-color: var(--bg);
  border-radius: 20px;
  border: 4px solid var(--bg4);
  box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 5px 5px 15px rgba(0,0,0,0.35),inset -5px -5px 15px rgba(255,255,255,0.1), inset 5px 5px 15px rgba(0,0,0,0.35);*/
}

.scheme-1 {
  min-width: 400px;
  border: 3px solid #06d7ef;
}

.scheme__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 3px solid #86c453;
  width: 70%;
  height: 100%;
  padding: 5px;
  margin: 0;
  background-color: var(--bg);
  /*border-radius: 20px;
  border: 4px solid var(--bg4);
  box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 5px 5px 15px rgba(0,0,0,0.35),inset -5px -5px 15px rgba(255,255,255,0.1), inset 5px 5px 15px rgba(0,0,0,0.35);*/
}

.scheme-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
  padding: 5px;
  margin: 0;
  border: 3px solid #a32788;
}

.scheme-number img {
  max-width: 100%;
}

.number__4,
.number__2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding: 5px;
  margin: 0;
}

.scheme__h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--font-family1);
  border: 3px solid #0d3eed;
  width: 100%;
  height: 100%;
  font-size: var(--sizeh1-1);
  color: var(--bg3);
  padding: 5px;
  margin: 0;
}

.scheme__h2 span {
  color: red;
}

.scheme-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: var(--font-family2);
  color: var(--bg3);
  font-size: var(--sizetext);
  border: 3px solid #dc0f68;
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: 0;
}

.scheme-last {
  padding: 5px;
  margin: 0;
}

@media (max-width: 913px) {
  .main-schemeWrapper {
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  .main-scheme-block {
    padding: 0;
    margin: 0;
  }
  .scheme-1 {
    min-width: 200px;
  }
}
.main-pricesWrapper {
  border: 3px solid red;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
}

.main-pricesBig-block {
  border: 3px solid #dcd90d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 5px;
  margin: 80px 0 0 0;
  gap: 8px;
}

.main-prices-block {
  border: 3px solid #0ddc25;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
  margin: 0;
}

.prices-card {
  width: 350px;
  height: 500px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  /*border: 3px solid #3a0ddc;
  border-radius: 20px;*/
  padding: 5px;
  margin: 0;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border: 3px solid #dc820d;
  border-radius: 20px;
  background-color: var(--bg);
  border: 4px solid var(--bg5);
  -webkit-box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
          box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.card-front,
.card-back {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  /*border: 3px solid #dc0d7f;*/
  border-radius: 20px;
  padding: 5px;
  margin: 0;
  gap: 5px;
}

.card-front {
  background-color: var(--bg);
}

.card-back {
  background-color: var(--bg);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.activeСardOne,
.activeСardTwo,
.activeСardThree {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.cardFront-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 150px;
  padding: 10px;
  margin: 10px 0 0 0;
  border: 3px solid #a32788;
  border-radius: 20px;
  background-color: var(--bg);
  border: 4px solid var(--bg5);
  -webkit-box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
          box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.cardFront-img img {
  max-width: 100%;
}

.cardFront-h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--font-family1);
  border: 3px solid #0d3eed;
  width: 100%;
  height: 10%;
  font-size: var(--sizeh1-1);
  color: var(--bg3);
  padding: 5px;
  margin: 0;
}

.cardFront-h2 span {
  color: red;
}

.cardFront-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: var(--font-family2);
  color: var(--bg3);
  font-size: var(--sizetext);
  border: 3px solid #dc0f68;
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: 0;
}

.cardBack-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: var(--font-family2);
  color: var(--bg3);
  font-size: var(--sizetext);
  border: 3px solid #dc0f68;
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: 0;
}

.prices-ButtonFront,
.prices-ButtonBack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10%;
  border: 3px solid #b6dc0f;
  padding: 5px;
  margin: 0;
}

.prices-ButtonFront span,
.prices-ButtonBack span {
  padding: 8px 15px;
  background: #45f3ff;
  font-family: var(--font-family2);
  color: var(--bg3);
  font-size: var(--sizetext);
  cursor: pointer;
}

.prices-ButtonBack span {
  background: #ffbe45;
}

@media (max-width: 913px) {
  .main-pricesWrapper {
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  .main-prices-block {
    padding: 0;
    margin: 0;
  }
  .prices-card {
    width: 300px;
    height: 450px;
  }
}
.footer-wrapper {
  border: 3px solid red;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
  margin: 0;
}

.footer-wrapper-block {
  border: 3px solid #0ddc25;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
  margin: 0;
  min-height: 300px;
}

@media (max-width: 913px) {
  .footer-wrapper {
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  .footer-wrapper-block {
    padding: 0;
    margin: 0;
  }
}