* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html body {
  background: #dee1e2;
  min-height: 100vh;
  /*overflow-x: hidden;*/
}

:root {
  --border: #ef6817;
  --bgnav: #333;
  --bg: #dee1e2;
  --bg1: #dee1e2;
  --bg2: #dee1e2;
  --bg3: #333;
  --bg4: #aab6aa;
  --bg5: #637c8c;
  --bgtext: white;
  --sizeh1: 75px;
  --sizeh1-1: 50px;
  --sizeh2: 65px;
  --sizetext: 25px;
  --sizetextmini: 20px;
  --font-family1: "Caveat", cursive;
  --font-family2:"Raleway", sans-serif;
  --chadowcontent: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
}

header {
  position: fixed;
  z-index: 20;
  /*position: absolute;*/
  width: 100%;
  height: 80px;
  background: var(--bg);
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: var(--chadowcontent);
          box-shadow: var(--chadowcontent);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

header .logo {
  color: var(--bg3);
  font-size: 1.75em;
  font-family: var(--font-family1);
  font-size: 30px;
  font-weight: 500;
}

header .logo span {
  color: red;
}

header .logo:hover {
  text-shadow: 2px 3px 5px #000;
}

header ul li {
  position: relative;
  list-style: none;
  float: left;
}

header ul li a {
  color: var(--bg3);
  font-size: 1.1em;
  padding: 26px 25px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: var(--font-family1);
  font-size: 27px;
}

header ul li a span {
  color: red;
  font-size: 30px;
}

header ul li a:hover {
  /*background: var(--bg3);
  color: var(--bg);*/
  text-shadow: 2px 3px 5px #000;
}

header ul li ul {
  position: absolute;
  left: 0;
  top: 80px;
  width: 200px;
  background: var(--bg);
  display: none;
}

header ul li:hover > ul {
  display: block;
}

header ul li ul li {
  position: relative;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

header ul li ul li ul {
  top: 0;
  left: 200px;
}

@media (max-width: 913px) {
  header {
    padding: 10px 20px;
  }
  header nav {
    position: absolute;
    width: 100%;
    top: 80px;
    left: 0;
    background: var(--bg);
    display: none;
  }
  header.active nav {
    display: initial;
  }
  header nav ul li {
    width: 100%;
  }
  header nav ul li ul {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
  }
  header ul li ul li ul {
    top: 0;
    left: 0;
  }
  .menuToggle {
    position: relative;
    width: 40px;
    height: 50px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menuToggle:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--bg3);
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-box-shadow: 0 12px var(--bg3);
            box-shadow: 0 12px var(--bg3);
  }
  .menuToggle:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--bg3);
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
  header.active .menuToggle::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  header.active .menuToggle::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
.fullscreen {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1%;
}

.fullscreen_one {
  background-color: var(--bg5);
  background-image: url("../img/bg/bg6.png");
}

.fullscreen_two {
  background-color: var(--bg4);
  background-image: url("../img/bg/bg6.png");
}

.fullscreen_three {
  background-color: var(--bg5);
  background-image: url("../img/bg/bg6.png");
}

.fullscreen_four {
  background-color: var(--bg4);
  background-image: url("../img/bg/bg6.png");
}

.fullscreen_five {
  background-color: var(--bg5);
  background-image: url("../img/bg/bg6.png");
}

.fullscreen_six {
  background-color: var(--bg4);
  background-image: url("../img/bg/bg6.png");
}

.fullscreen_seven {
  background-color: var(--bg5);
  background-image: url("../img/bg/bg6.png");
}

.fullscreen_body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  max-width: 1150px;
  margin: 0px auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main {
  /*border: 3px solid red;*/
}

.main-wrapper {
  /*border: 3px solid rgb(51, 255, 0);*/
}

.main-oneWrapper,
.main-orientationWrapper,
.main-whyWrapper,
.main-schemeWrapper,
.main-pricesWrapper,
.main-advantagesWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.main-one-block,
.main-orientation-block,
.main-why-block,
.main-scheme-block,
.main-prices-block,
.main-advantages-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 913px) {
  .main-oneWrapper {
    /*overflow-x: hidden;*/
  }
}
.main-orientationWrapper {
  /*border: 3px solid red;*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
}

.main-orientation-block {
  /*border: 3px solid #0ddc25;*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.orientation__h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  min-height: 80px;
  font-size: var(--sizeh1-1);
  font-family: var(--font-family2);
  color: var(--bg3);
  /*border: 3px solid #f0f801;*/
  margin: 80px 0 5px 0;
  padding: 5px 15px;
  background-color: var(--bg);
  border-radius: 20px;
  border: 4px solid var(--bg5);
  -webkit-box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
          box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.orientation__h1 span {
  font-family: var(--font-family1);
  font-weight: 700;
  font-size: var(--sizeh1);
  color: var(--bg5);
  /*text-shadow: 7px 7px 15px #000;*/
}

.orientation__h1 span span {
  color: red;
}

.orientation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 100%;
  margin: 5px;
  color: var(--bgtext);
  /*border: 3px solid #06d7ef;*/
  /*background-color: var(--bg);
  border-radius: 20px;
  border: 4px solid var(--bg4);
  box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 5px 5px 15px rgba(0,0,0,0.35),inset -5px -5px 15px rgba(255,255,255,0.1), inset 5px 5px 15px rgba(0,0,0,0.35);*/
}

.orientation__block1,
.orientation__block2,
.orientation__block3,
.orientation__block4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 100%;
  margin: 5px;
  /*border: 3px solid #0ded32;*/
}

.orientation__h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--font-family1);
  /*border: 3px solid #0d3eed;*/
  height: 100%;
  width: auto;
  font-size: var(--sizeh2);
  color: var(--bg3);
  margin: 40px 0 0 0;
  padding: 5px 15px;
  background-color: var(--bg);
  border-radius: 20px;
  border: 4px solid var(--bg5);
  -webkit-box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
          box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.orientation__h2 span {
  color: red;
  font-size: 70px;
}

.orientation__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*border: 3px solid #e206f2;*/
  /*background-color: var(--bg);
  border-radius: 20px;
  border: 8px solid var(--bg5);
  box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 5px 5px 15px rgba(0,0,0,0.35),inset -5px -5px 15px rgba(255,255,255,0.1), inset 5px 5px 15px rgba(0,0,0,0.35);*/
  width: 25%;
  margin: 15px 0;
  padding: 15px;
}

.orientation__img img {
  max-width: 100%;
}

.block2,
.block4 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.orientation__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: var(--font-family2);
  color: var(--bg3);
  font-size: var(--sizetext);
  /*border: 3px solid #dc0f68;*/
  background-color: var(--bg);
  border-radius: 20px;
  border: 4px solid var(--bg5);
  -webkit-box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
          box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
  width: 71%;
  margin: 2%;
  padding: 10px;
}

.orientation__text1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  text-align: left;
  margin: 10px 5px 10px 5px;
  /*border: 3px solid #82f606;*/
}

@media (max-width: 913px) {
  .main-orientationWrapper {
    overflow: hidden;
    /*border: 3px solid red;*/
    padding: 80px 0 0 0;
    margin: 0;
  }
  .main-orientation-block {
    /*border: 3px solid #0ddc25;*/
  }
  .orientation__h1 {
    font-size: 35px;
    width: 90%;
    /*border: 3px solid #f0f801;*/
    margin: 0;
    padding: 0;
  }
  .orientation__h1 span {
    font-size: 50px;
  }
  .orientation {
    margin: 0;
    /*border: 3px solid #06d7ef;*/
  }
  .orientation__h2 {
    /*border: 3px solid #0d3eed;*/
    font-size: 50px;
    width: 75%;
    margin: 20px 0 0 0;
    padding: 0;
  }
  .orientation__h2 span {
    color: red;
    font-size: 60px;
  }
  .orientation__img {
    width: 55%;
    margin: 20px 0 0 0;
    padding: 0;
    /*border: 3px solid #0d3eed;*/
  }
  .block2,
.block4 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .block2-1,
.block4-1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .orientation__text {
    font-size: var(--sizetextmini);
    width: 90%;
    /*border: 3px solid #dc0f68;*/
    margin: 20px 0 0 0;
    padding: 10px;
  }
  .orientation-last {
    margin: 0 0 20px 0;
  }
  .orientation__text1 {
    text-align: center;
    margin: 5px;
    /*border: 3px solid #82f606;*/
  }
}
.main-whyWrapper {
  /*border: 3px solid red;*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
}

.main-why-block {
  /*border: 3px solid #0ddc25;*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.why__h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  min-height: 80px;
  font-size: var(--sizeh1-1);
  font-family: var(--font-family2);
  color: var(--bg3);
  /*border: 3px solid #f0f801;*/
  margin: 80px 0 0 0;
  padding: 5px 15px;
  background-color: var(--bg);
  border-radius: 20px;
  border: 4px solid var(--bg4);
  -webkit-box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
          box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.why__h1 span {
  font-family: var(--font-family1);
  font-weight: 700;
  font-size: var(--sizeh1);
  color: var(--bg5);
  /*text-shadow: 7px 7px 15px #000;*/
}

.why__h1 span span {
  color: red;
}

.why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 58%;
  margin: 5px;
  /*border: 3px solid #06d7ef;*/
  margin: 80px 0 5px 0;
  /*background-color: var(--bg);
  border-radius: 20px;
  border: 4px solid var(--bg4);
  box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 5px 5px 15px rgba(0,0,0,0.35),inset -5px -5px 15px rgba(255,255,255,0.1), inset 5px 5px 15px rgba(0,0,0,0.35);*/
}

.why__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 80%;
  text-align: center;
  margin: 15px 5px;
  /*border: 3px solid #1310e1;*/
  background-color: var(--bg);
  border-radius: 20px;
  border: 4px solid var(--bg4);
  -webkit-box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
          box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.why__text1 {
  text-align: left;
  height: 100%;
  width: 100%;
  font-family: var(--font-family2);
  color: var(--bg3);
  font-size: var(--sizetext);
  margin: 10px 10px 10px 20px;
  /*border: 3px solid #ccafaf;*/
}

.why__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 5px;
  /*border: 1px solid #cf2323;*/
  background-color: var(--bg);
  border-radius: 20px;
  border: 8px solid var(--bg4);
  -webkit-box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
          box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.why__img img {
  max-width: 97%;
  margin: 10px;
}

.why__text2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 40%;
  text-align: center;
  margin: 80px 5px 5px 5px;
  /*border: 3px solid #f17d0a;*/
}

.why__text2 span {
  font-family: var(--font-family1);
  font-size: var(--sizeh1-1);
}

.why__text2 span span {
  color: red;
}

.why__text2-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--bg);
  min-height: 170px;
  width: 90%;
  font-size: var(--sizetext);
  font-family: var(--font-family2);
  color: var(--bg3);
  margin: 5px 5px 30px 5px;
  padding: 0 10px;
  /*border: 3px solid #db11bd;*/
  background-color: var(--bg);
  border-radius: 20px;
  border: 4px solid var(--bg4);
  -webkit-box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
          box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

@media (max-width: 913px) {
  .main-whyWrapper {
    overflow: hidden;
    /*border: 3px solid red;*/
    padding: 80px 0 0 0;
  }
  .why__h1 {
    margin: 0;
    font-size: 35px;
    width: 90%;
    /*border: 3px solid #f0f801;*/
  }
  .why__h1 span {
    font-size: 50px;
  }
  .why__block2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .why__block {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .why__text2 {
    width: 100%;
    text-align: center;
    margin: 0;
    /*border: 3px solid #f17d0a;*/
  }
  .why__text2 span {
    font-family: var(--font-family1);
    color: red;
    font-size: 40px;
  }
  .why__text2-1 {
    width: 80%;
    font-size: var(--sizetextmini);
    margin: 30px 0 0 0;
    padding: 0 20px;
    /*border: 3px solid #db11bd;*/
  }
  .why {
    width: 100%;
    /*border: 3px solid #06d7ef;*/
    margin: 10px 0;
  }
  .why__img {
    width: 90%;
    margin: 20px 0 0 0;
    background-color: none;
    border-radius: 0;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    /*border: 3px solid #cf2323;*/
  }
  .why__img img {
    max-width: 100%;
    margin: 0;
  }
  .why__text {
    width: 90%;
    text-align: center;
    margin: 30px 0 20px 0;
    /*border: 3px solid #1310e1;*/
  }
  .why__text1 {
    text-align: center;
    width: 90%;
    font-size: var(--sizetextmini);
    margin: 10px 0;
    /*border: 3px solid #ccafaf;*/
  }
}
.main-advantagesWrapper {
  /*border: 3px solid red;*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
}

.main-advantages-block {
  /*border: 3px solid #0ddc25;*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages__h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  min-height: 80px;
  font-size: var(--sizeh1-1);
  font-family: var(--font-family2);
  color: var(--bg3);
  /*border: 3px solid #f0f801;*/
  padding: 5px 15px;
  background-color: var(--bg);
  border-radius: 20px;
  border: 4px solid var(--bg5);
  -webkit-box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
          box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.advantages__h1 span {
  font-family: var(--font-family1);
  font-weight: 700;
  font-size: var(--sizeh1);
  color: var(--bg5);
  /*text-shadow: 7px 7px 15px #000;*/
}

.advantages__h1 span span {
  color: red;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 350px;
  width: 24%;
  margin: 0 5px;
  color: var(--bgtext);
  /*border: 3px solid #06d7ef;*/
  /*background-color: var(--bg);
  border-radius: 20px;
  border: 4px solid var(--bg4);
  box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 5px 5px 15px rgba(0,0,0,0.35),inset -5px -5px 15px rgba(255,255,255,0.1), inset 5px 5px 15px rgba(0,0,0,0.35);*/
}

.advantages__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*border: 3px solid #e206f2;*/
  width: 60%;
  margin: 0;
  padding: 15px;
}

.advantages__img img {
  max-width: 100%;
}

.advantages__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 150px;
  width: 95%;
  text-align: center;
  font-size: var(--sizetext);
  font-family: var(--font-family2);
  color: var(--bg3);
  padding: 0 15px;
  /*border: 3px solid #1310e1;*/
  background-color: var(--bg);
  border-radius: 20px;
  border: 4px solid var(--bg5);
  -webkit-box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
          box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

@media (max-width: 913px) {
  .main-advantagesWrapper {
    overflow: hidden;
    /*border: 3px solid red;*/
    padding: 80px 0 0 0;
  }
  .advantages__h1 {
    font-size: 35px;
    width: 90%;
    margin: 0 0 20px 0;
    /*border: 3px solid #f0f801;*/
  }
  .advantages__h1 span {
    font-size: 50px;
  }
  .advantages {
    width: 100%;
    color: var(--bgtext);
    /*border: 3px solid #06d7ef;*/
    margin: 0;
    padding: 0;
    /*background-color: var(--bg);
    border-radius: 20px;
    border: 4px solid var(--bg4);
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 5px 5px 15px rgba(0,0,0,0.35),inset -5px -5px 15px rgba(255,255,255,0.1), inset 5px 5px 15px rgba(0,0,0,0.35);*/
  }
  .advantages__img {
    /*border: 3px solid #e206f2;*/
    width: 50%;
    margin: 0;
    padding: 0;
  }
  .advantages__text {
    width: 90%;
    min-height: 100px;
    font-size: 30px;
    padding: 5px;
    /*border: 3px solid #1310e1;*/
  }
  .advantages-last__text {
    margin: 0 0 20px 0;
  }
}
.main-schemeWrapper {
  border: 3px solid red;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
}

.main-scheme-block {
  border: 3px solid #0ddc25;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.scheme__h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  min-height: 80px;
  font-size: var(--sizeh1-1);
  font-family: var(--font-family2);
  color: var(--bg3);
  /*border: 3px solid #f0f801;*/
  margin: 80px 0 5px 0;
  padding: 5px 15px;
  background-color: var(--bg);
  border-radius: 20px;
  border: 4px solid var(--bg4);
  -webkit-box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
          box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.scheme__h1 span {
  font-family: var(--font-family1);
  font-weight: 700;
  font-size: var(--sizeh1);
  color: var(--bg5);
  /*text-shadow: 7px 7px 15px #000;*/
}

.scheme__h1 span span {
  color: red;
}

.scheme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 60%;
  margin: 50px 0 0 0;
  color: var(--bgtext);
  /*border: 3px solid #06d7ef;*/
  /*background-color: var(--bg);
  border-radius: 20px;
  border: 4px solid var(--bg4);
  box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 5px 5px 15px rgba(0,0,0,0.35),inset -5px -5px 15px rgba(255,255,255,0.1), inset 5px 5px 15px rgba(0,0,0,0.35);*/
}

.scheme-1 {
  min-width: 400px;
  /*border: 3px solid #06d7ef;*/
}

.scheme__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*border: 3px solid #86c453;*/
  width: 70%;
  min-height: 200px;
  background-color: var(--bg);
  border-radius: 20px;
  border: 4px solid var(--bg4);
  -webkit-box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
          box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.scheme-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
  margin: 0 40px 0 0;
  padding: 0;
  /*border: 3px solid #a32788;*/
}

.scheme-number img {
  max-width: 100%;
}

.number__4,
.number__2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: 0 0 0 40px;
}

.scheme__h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--font-family1);
  /*border: 3px solid #0d3eed;*/
  width: auto;
  font-size: var(--sizeh1-1);
  color: var(--bg3);
  margin: 5px 0 15px 0;
}

.scheme__h2 span {
  color: red;
}

.scheme-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: var(--font-family2);
  color: var(--bg3);
  font-size: var(--sizetext);
  /*border: 3px solid #dc0f68;*/
  width: 90%;
  margin: 0 0 15px 0;
}

.scheme-last {
  padding: 0 0 30px 0;
}

@media (max-width: 913px) {
  .main-schemeWrapper {
    overflow: hidden;
    /*border: 3px solid red;*/
    padding: 80px 0 0 0;
  }
  .scheme__h1 {
    font-size: 35px;
    width: 90%;
    margin: 0;
    /*border: 3px solid #f0f801;*/
  }
  .scheme__h1 span {
    font-size: 50px;
  }
  .scheme {
    width: 100%;
    margin: 30px 0 0 0;
    /*border: 3px solid #06d7ef;*/
  }
  .scheme-number {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 55%;
    margin: 0 0 20px 0;
    /*border: 3px solid #a32788;*/
  }
  .scheme-number img {
    max-width: 50%;
  }
  .scheme__block {
    /*border: 3px solid #86c453;*/
    width: 80%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .scheme-1 {
    /*border: 3px solid #38cd4c;*/
    display: none;
  }
  .scheme__h2 {
    /*border: 3px solid #0d3eed;*/
    font-size: 40px;
    min-height: 80px;
  }
  .scheme__h2 span {
    color: red;
  }
  .scheme-text {
    font-family: var(--font-family2);
    color: var(--bg3);
    font-size: var(--sizetextmini);
    /*border: 3px solid #dc0f68;*/
    width: 90%;
    margin: 0 0 15px 0;
  }
}
.main-pricesWrapper {
  /*border: 3px solid red;*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
}

.main-prices-block {
  /*border: 3px solid #0ddc25;*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 550px;
  min-width: 33%;
}

.prices__h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  min-height: 80px;
  font-size: var(--sizeh1-1);
  font-family: var(--font-family2);
  color: var(--bg3);
  /*border: 3px solid #f0f801;*/
  margin: 80px 30px 5px 30px;
  padding: 5px 15px;
  background-color: var(--bg);
  border-radius: 20px;
  border: 4px solid var(--bg5);
  -webkit-box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
          box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.prices__h1 span {
  font-family: var(--font-family1);
  font-weight: 700;
  font-size: var(--sizeh1);
  color: var(--bg5);
  /*text-shadow: 7px 7px 15px #000;*/
}

.prices__h1 span span {
  color: red;
}

.prices-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.prices-card {
  position: relative;
  width: 350px;
  height: 180px;
  border-radius: 20px;
  background-color: var(--bg);
  border: 4px solid var(--bg5);
  -webkit-box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
          box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.prices-card:hover {
  height: 500px;
}

.prices-card .prices-imgBx {
  position: absolute;
  top: -60px;
  left: 50%;
  width: 150px;
  height: 150px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: var(--bg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 10;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background-color: var(--bg);
  border: 4px solid var(--bg5);
  -webkit-box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
          box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.prices-card:hover .prices-imgBx {
  top: 25px;
  width: 200px;
  height: 200px;
}

.prices-card .prices-imgBx img {
  position: absolute;
  width: 100px;
  z-index: 1;
  /*filter: invert(1);*/
  color: red;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.prices-card:hover .prices-imgBx img {
  opacity: 1;
  width: 160px;
}

.prices-card .prices-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
}

.prices-card .prices-content .prices-details {
  padding: 30px 20px;
  text-align: center;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(180px);
          transform: translateY(180px);
}

.prices-card:hover .prices-content .prices-details {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.prices-card .prices-content .prices-details h2 {
  font-family: var(--font-family1);
  font-size: var(--sizeh1-1);
  /*font-weight: 700;*/
  color: var(--bg3);
  line-height: 1.3em;
}

.prices-card .prices-content .prices-details h2 span {
  color: red;
  font-size: 55px;
}

.prices-card .prices-content .prices-details p {
  font-family: var(--font-family2);
  color: var(--bg3);
  font-size: var(--sizetext);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.prices-card .prices-content .prices-details a {
  display: inline-block;
  padding: 8px 15px;
  background: #45f3ff;
  color: #292929;
  margin-top: 10px;
  font-weight: 500;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.prices-card:hover .prices-content .prices-details p,
.prices-card:hover .prices-content .prices-details a {
  opacity: 1;
}

@media (max-width: 913px) {
  .main-pricesWrapper {
    overflow: hidden;
    /*border: 3px solid red;*/
    padding: 80px 0 15px 0;
    /*height: auto;*/
  }
  .main-prices-block {
    /*border: 3px solid #0ddc25;*/
    width: 100%;
    min-height: 200px;
    padding: 75px 0 0 0;
    /*height: auto;*/
  }
  .prices__h1 {
    font-size: 35px;
    width: 90%;
    margin: 0;
    /*border: 3px solid #f0f801;*/
  }
  .prices__h1 span {
    font-size: 50px;
  }
  .prices-container {
    gap: 0;
    /*border: 3px solid #f0f801;*/
  }
  .prices-card .prices-content .prices-details {
    -webkit-transform: translateY(140px);
            transform: translateY(140px);
  }
  .prices-card .prices-content .prices-details p {
    font-size: var(--sizetextmini);
  }
}
footer {
  /*display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 5px 0 0 0;
  padding: 80px 20px 0 20px;
  border: 3px solid #333;*/
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  padding: 80px 5px 5px 5px;
  /*border: 3px solid #ef0505;*/
}

.footer-wrapper-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background: var(--bgnav);
  /*border: 3px solid #0def05;*/
}

.footer-wrapper__text {
  font-size: 20px;
  color: var(--bg);
}